@tailwind base;
@tailwind components;
@tailwind utilities;

span,
h1,
h2,
h3,
h4,
h5,
h6 {
	user-select: none;
}

.text-bg {
	background-color: #06021381;
}

.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.2s;
	position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 24px;
	height: 2px;
	top: 0;
	left: 0;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
	display: none;
}
.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.menu {
	transform: translateX(100%);
	transition: all 0.5s;
}
.menu.open {
	transform: translateX(0%);
}
